@model DepoStokProgrami.Entities.UrunSatis

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-page">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UrunId" class="control-label"></label>
                    <select asp-for="UrunId" class="form-control" asp-items="ViewBag.UrunId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ToplamFiyatId" class="control-label"></label>
                    <input asp-for="ToplamFiyatId" class="form-control" />
                    <span asp-validation-for="ToplamFiyatId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdetId" class="control-label"></label>
                    <input asp-for="AdetId" class="form-control" />
                    <span asp-validation-for="AdetId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MusteriAdi" class="control-label"></label>
                    <input asp-for="MusteriAdi" class="form-control" />
                    <span asp-validation-for="MusteriAdi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UrunNotu" class="control-label"></label>
                    <input asp-for="UrunNotu" class="form-control" />
                    <span asp-validation-for="UrunNotu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tarih" class="control-label"></label>
                    <input asp-for="Tarih" class="form-control" />
                    <span asp-validation-for="Tarih" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Oluştur" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-primary">Geri Dön</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
